@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #fdfcf6;
$subColor: #874c62;
$keyColor: #c98474;
$fontColor: #4c4c4c;

/* Base
------------------------------------------------------------*/
html{ font-size: 62.5%; }

body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family:$baseFontFamily;
  line-height:1.6;
  letter-spacing: 0.1em;
  background-color: $baseColor;
}

a {
  @include link-colors($keyColor, darken($keyColor, 10%), lighten($keyColor, 5%), darken($keyColor, 10%));
  text-decoration: none;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center;
}

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif;
}
.uppercase {
  text-transform: uppercase;
}

/* Header
------------------------------------------------------------*/
.button-contact {
  width: 20px;
  height: 20px;
  padding: 10px;
  border: 2px solid $fontColor;
  color: $fontColor;
  text-align: center;
  display: block;
  float: right;
  @include border-radius(4px);
  font-size: 20px;
  line-height: 0;
  margin: 20px 20px 0 0;
  &:visited {
    color: $fontColor;
  }
}
header {
  .profile {
    width: 60%;
    margin: 0 auto;
    padding: 60px 0;
    clear: both;
  }
  .site-title {
    font-size: 1.8rem;
    line-height: normal;
    span {
      display: block;
      font-size: 4.2rem;
      color: $keyColor;
      margin: 25px auto;
    }
  }
  .profile-icon {
    background-image: url(../images/responsive_picture.jpg);
    margin: 0px auto;
    width: 100%;
    height:500px;
    background-size:cover;
    background-position: center center;
  }
  p {
    font-size: 1.6rem;
    margin: 30px auto;
  }
}

/* Contents
------------------------------------------------------------*/
// Common Styles
section {
  padding: 60px 0;
  .container {
    width: 90%;
    @extend .block-center;
  }
  h2 {
    @extend .abel;
    font-size: 3.2rem;
    @extend .uppercase;
  }
}

// Skills

#skills {
  background-color: $keyColor;
  .container {
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);
  }

  .skill-box {
    @include flex(1);
    margin: 10px 10px;
    padding: 20px;
    background-color: $baseColor;
    @include border-radius(4px);
    @include box-sizing(border-box);
  }
  .container {
    @include flex-direction(row);
    justify-content: space-between;
    background-color: $keyColor;
  }
  h2 {
    color: $baseColor;
    margin-bottom: 40px;
  }
  i {
    width: 30px;
    height: 30px;
    margin-bottom: 8px;
    padding-top: 5px;
    background-color: $keyColor;
    font-size: 2rem;
    color: #FFF;
    text-align: center;
    @include box-sizing(border-box);
    @include border-radius(50%);
    @extend .block-center;
  }
  h3 {
    @extend .abel;
    @extend .uppercase;
    margin-bottom:10px;
    font-size: 2.4rem;
    font-weight: bold;
    color: $fontColor;
  }
}

// Works
#works {
  padding-bottom: 0;
  h2 {
    margin-bottom: 50px;
  }
  .works-box {
    width: 100%;
    float: left;
    height: 100%;
    a {
      display: block;
      position: relative;
      .works-box-inner {
        background-color: rgba(0, 0, 0, 0.7);
        height: 250px;
        width: 100%;
        top: 0;
        left: 0;
        color: #FFF;
        div {
          position: absolute;
          margin: auto;
          height: 40%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 10px 20px;
        }
        h3 {
          font-size: 1.6rem;
          margin: 0 0 5px;
          font-weight: bold;
        }
        small {
          font-size: 1rem;
          display: block;
          margin-bottom: 15px;
        }
        .button-readmore {
          margin: auto;
          text-align: center;
          padding: 5px 0;
          width: 180px;
          display: block;
          color: #FFF;
          font-weight: bold;
          background-color: $keyColor;
          @extend .abel;
          @extend .uppercase;
          @include border-radius(4px);
          font-size: 1rem;
        }
      }
    }
    img {
      max-width: 100%;
      display: block;
    }
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

// PC
@media (max-width: 768px) {
  /* Base
  ------------------------------------------------------------*/
  a {
    &:hover {
      text-decoration: underline;
    }
  }

  /* Header
  ------------------------------------------------------------*/
  .button-contact {
    &:hover, &:active {
      background-color: $fontColor;
      color: #FFF;
    }
  }
  
  header {
  .profile-icon {
    background-image: url(../images/responsive_picture.jpg);
    width: 100%;
    height: 250px;
    background-size:cover;
    background-position: center center;
   }
  }

 #skills {
  .container {
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);
  }
 }
  header{
    p {
    width: 450px;
  }
  }
}
